@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
	.main-btn {
		@apply px-2 py-1 border border-border rounded-md hover:text-main hover:border-main  text-text;
	}
}

* {
	font-family: 'Roboto', sans-serif;
	background-color: #0f172a;
}
.overflow-y-auto::-webkit-scrollbar {
	width: 5px;
}

.overflow-y-auto::-webkit-scrollbar-track {
	border-radius: 100vh;
	background: #413f42;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
	background-color: #7f8487;
	border-radius: 100vh;
	/* border: 1px solid #1f306e; */
}

.error {
	font-size: 1rem; /* 16px */
	line-height: 1.5rem; /* 24px */
	margin-top: 0.625rem; /* 10px */
	margin-bottom: 0.625rem; /* 10px */
	text-align: center;
	color: #ff3333;
}
.send-message {
	border-width: 0px;
	border-radius: 16px;
	background-color: #6db0d1;
	width: fit-content;
	max-width: 50%;
	height: fit-content;
	padding: 0.4rem 0.75rem;
	color: #000;
	float: right;
	position: relative;
	margin: 4px;
}
.send-message::before {
	content: '';
	position: absolute;
	bottom: -1px;
	right: -7px;
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 0px solid #6db0d1;
	transform: rotate(123deg);
	border-width: 6px;
}
.receive-message {
	border-width: 0px;
	border-radius: 16px;
	background-color: #1f306e;
	width: fit-content;
	max-width: 50%;
	height: fit-content;
	padding: 0.4rem 0.75rem;
	color: white;
	float: left;
	position: relative;
	margin: 4px;
	margin-bottom: 0.65rem;
}
.receive-message::before {
	content: '';
	position: absolute;
	bottom: -2px;
	left: -6px;
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 0px solid #1f306e;
	transform: rotate(231deg);
	border-width: 6px;
}
.loading-msg {
	display: block;
	border-width: 1px;
	border-radius: 4px;
	padding: 0.4rem 0.75rem;
	color: white;
	position: relative;
	margin: 4px;
}
.right-bounce {
	animation: bounce 2.5s infinite;
}
.option {
	right: 0;
}
.option::before {
	content: '';
	position: absolute;
	top: -10px;
	right: 5px;
	border-top: 0px solid transparent;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
	border-bottom: 0px solid #7f8487;
	transform: rotate(0deg);
	border-width: 6px;
}
@keyframes bounce {
	0%,
	100% {
		transform: translateX(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateX(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}
.loader {
	display: block;
	position: relative;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #fff;
	border-color: transparent transparent #fff transparent;
}
.right-exit {
	animation: exit-right 1s ease-in forwards;
}
@keyframes exit-right {
	100% {
		opacity: 0;
		transform: translateX(200px);
	}
}
.comment-added {
	position: absolute;
	left: 20%;
	top: 100%;
	/* animation: commentAdded 1s ease-in forwards; */
}
@keyframes commentAdded {
	100% {
		opacity: 0;
		top: 0;
		transform: scale(0%);
	}
}
.pulse-icon {
	animation: pulse 1s ease-in-out backwards;
}
@keyframes pulse {
	25% {
		color: #1f306e;
	}
	50% {
		transform: scale(1.4, 1.4);
	}
	100% {
		color: rgb(156 163 175);
		transform: scale(1, 1);
	}
}
/* loading styles */
.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 2;
}
.child-loading {
	z-index: 4;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #1f306e;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.child-loading:nth-child(1) {
	left: 8px;
	animation: loading1 0.6s infinite;
}
.child-loading:nth-child(2) {
	left: 8px;
	animation: loading2 0.6s infinite;
}
.child-loading:nth-child(3) {
	left: 32px;
	animation: loading2 0.6s infinite;
}
.child-loading:nth-child(4) {
	left: 56px;
	animation: loading3 0.6s infinite;
}
@keyframes loading1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes loading3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes loading2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}
.loading-pulse {
	animation: loading-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes loading-pulse {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
}
