{
    "extends": [
      "prettier",
      "airbnb"
    ],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": [
        "error",
        {
          "endOfLine": "auto",
          "semi":false
          
        }
      ],
      "no-unused-vars":"warn",
      "linebreak-style":["error","windows"],
      "no-console":"off",
      "quotes":["single", { "allowTemplateLiterals": true }],
      "indent": ["error", 4],
      "semi":["error","never"]
    }
  }